@media screen and (max-width: $screen-lg) {
	.review_wrapper {
		padding: 80px 0 0;
	}
}

@media screen and (max-width: $screen-md) {
	.review_slide--text {
		font-size: $font-md;
		line-height: $lh-md;
	}
}

@media screen and (max-width: $screen-sm) {
	.review_wrapper {
		padding: 40px 0 0;
	}

	.review_slide--text {
		display: none;
	}

	.review_slide--img {
		width: 100px;
		height: 100px;
		position: absolute;
		top: -70%;
		left: 50%;
		transform: translate(-50%, 50%);
		background: $gradient-line;
		clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
	}
}
