.header {
	background: $gradient-header;
	padding: 35px;
}

.header_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
// для такого лучше завести отдельный класс
.header_phone--link,
.header_point--link,
.header_insta--link {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header_phone--img,
.header_point--img,
.header_insta--img {
	height: 25px;
}

.header_phone--text,
.header_point--text,
.header_insta--text {
	color: $white;
	font-weight: 500;
	font-size: $font-md;
	line-height: $lh-md;
}

.header_insta--text {
	max-width: 150px; // а если заказчик скажет поменять текст на "посетите нашу страницу в инстаграме"?)
}
