@media screen and (max-width: $screen-lg) {
	.header {
		padding: 35px 10px;
	}

	.header_phone--text,
	.header_point--text,
	.header_insta--text {
		font-size: $font-sm;
		line-height: $lh-sm;
	}
}

@media screen and (max-width: $screen-md) {
	.header {
		padding: 35px 50px;
	}

	.header_phone--link {
		display: none;
	}
}

@media screen and (max-width: $screen-sm) {
	.header {
		padding: 35px 10px;
	}

	.header_wrapper {
		flex-direction: column;
		gap: 30px;
	}

	.header_phone--link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
	}

	.header_phone--text {
		font-size: $font-lg;
		line-height: $lh-lg;
	}

	.header_phone--img {
		display: none;
	}

	.header_insta--link {
		display: none;
	}
}
