@media screen and (max-width: $screen-lg) {
	.modal_wrapper {
		padding: 45px;
	}
}

@media screen and (max-width: $screen-md) {
	.modal_top {
		width: 100%;
		flex-direction: column;
		gap: 30px;
	}

	.modal_input--sm,
	.modal_input--md {
		max-width: 400px;
	}
}

@media screen and (max-width: $screen-sm) {
	.modal_wrapper {
		padding: 40px 30px;
	}

	.modal_input--sm,
	.modal_input--md {
		max-width: 300px;
	}
}
