.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 10;
	backdrop-filter: blur(20px);
	transition: all ease 1s;
}

// action style
.visible_modal {
	display: flex;
}

.modal_wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 45px 60px;
	margin: auto auto;
	z-index: 20;
	background: $white;
	border-radius: $border-lg;
	box-shadow: $shadow;
}

.modal_top {
	display: flex;
	gap: 20px;
}

.modal--title {
	color: $black;
	font-style: italic;
	font-weight: 500;
	font-size: $font-lg;
	line-height: $lh-lg;
	margin-bottom: 20px;
}

.modal_input--sm,
.modal_input--md {
	background: $white;
	border-radius: $border-md;
	border: 1px solid $gray;

	font-weight: 300;
	font-size: $font-md;
	line-height: $lh-md;

	padding: 20px;
}

.modal_input--md {
	width: 100%;
	resize: none;
	outline: none;
	margin-bottom: 20px;
}
