// @todo найти шрифт из макета, прогнать через https://transfonter.org/ и подключить
html,
body {
	font-family: 'Roboto', sans-serif; // @todo минимум 3
	scroll-behavior: smooth;
	position: relative;
	height: 100%;
}

.container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}
