.about {
	background-image: url('./../images/svg/decore_main_2.svg');
	background-repeat: no-repeat;
	background-position: 200px;
	background-size: 50%;

	padding: 60px 0 60px;

	&_wrapper {
		@include flex-center-column;
		gap: 60px;
	}

	&--title {
		color: $black;
		font-weight: 400;
		font-size: 50px;
		line-height: $lh-md;
		text-align: center;

		span {
			background: $gradient-text;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		@include low-desktop {
			font-size: 44px;
		}

		@include tablet {
			font-size: 40px;
		}

		@include mobile {
			font-size: 36px;
		}
	}

	&_cards {
		@include flex-top-row;
		gap: 60px;

		@include low-desktop {
			gap: 40px;
		}

		@include tablet {
			@include flex-center-column;
			align-items: center;
		}
	}

	&_card {
		@include flex-center-column;
		text-align: center;
		max-width: 300px;
		gap: 30px;

		background: $white;
		border-radius: $border-md;
		box-shadow: $shadow;

		&--img {
			img {
				border-radius: $border-md $border-md 0 0;
			}
		}

		@include low-desktop {
			gap: 25px;
		}

		@include tablet {
			gap: 20px;
		}

		&--title {
			padding: 0 20px;
			color: $black;
			font-weight: 700;
			font-size: 36px;
			line-height: $lh-md;

			@include low-desktop {
				padding: 0 15px;
				font-size: 24px;
			}

			@include tablet {
				font-size: 28px;
			}
		}

		&--text {
			padding: 0 20px 20px;
			color: $gray;
			font-weight: 300;
			font-size: $font-md;
			line-height: $lh-md;

			@include low-desktop {
				padding: 0 15px 20px;
				font-size: $font-sm;
				line-height: $lh-sm;
			}
		}
	}
}
